tr:nth-child(2n) {
    background-color: #e8e8e8;
}
td:nth-child(2n) {
    background-color: #e8d3d3;
}
table{
	text-align: center;
	border-collapse: collapse;
}
td{
	display: inline-block;
	width: 140px;
	height: 100px;
	overflow: auto;
	border: solid 1px;
}
td.td-head {
    background-color: #93dab2;
}